<%- include('partials/header', { title: 'Inicio' }) %>

<section class="card">
  <h2>Bienvenido, <%= user?.nombre %> </h2>
    <li>ID de usuario: <code><%= user?.id %></code></li>
    <li>Email: <code><%= user?.correo %></code></li>
  </ul>
</section>

<%- include('partials/footer') %>