<!DOCTYPE html>
<html lang="es">
<head>
    <title>Listado de productos</title>
</head>
<body>
    <h1>Listado de productos</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Categoría</th>
    <th>Marca</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Proveedor</th>
    <th>Rating</th>
    <th>Descuento</th>
  </tr>

  <% productos.forEach(p => { %>
    <tr>
      <td><%= p.id %></td>
      <td><%= p.nombre %></td>
      <td><%= p.categoria %></td>
      <td><%= p.marca %></td>
      <td>$<%= p.precio %></td>
      <td><%= p.stock %></td>
      <td><%= p.proveedor_email %></td>
      <td><%= p.rating %></td>
      <td><%= p.descuento %></td>
    </tr>
  <% }) %>
</table>


    <a href="/">Volver al inicio</a>
</body>
</html>
